body{
    margin: 0;
    padding: 0;
    background: #000;
}
section{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.pulse{
    width: 100px;
    height: 100px;
    background: #000;
    border-radius: 100%;
    color:   #6E0DD0;
    font-size: 16px;
    text-align: center;
    line-height: 100px;
    font-family: 'Red Rose', cursive;
    letter-spacing: 3px;
    text-transform: uppercase;
    animation: animate 1.5s linear infinite;
}
@keyframes animate{
    0%{
        box-shadow:0 0 0 #21ebff, 0 0 0 #21ebff;
        
    }
    40%{
        box-shadow:0 0 80px #bc13fe, 0 0 60px #bc13fe;
        
    }
    80%{
        box-shadow:0 0 150px #fb0094, 0 0 130px #fb0094;
        
    }
    100%{
        box-shadow:0 0 0 #fb0094, 0 0 0 #fb0094;
        
    }
}