body
{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
}
.cont
{
    position: relative;
    width: 100px;
    height: 100px;
    background-color: #e50b0b;
    box-shadow: 0 0 120px  #e50b0b;
    animation: animate 2s linear infinite;
}
.cont:before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #e50b0b;
    box-shadow:  0 0 120px #e50b0b;
    transform: translateY(-50%);
    border-radius: 50%;
}
.cont:after
{
    content:'' ;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #e50b0b;
    box-shadow:0 0 120px #e50b0b;
    transform: translateX(-50%);
    border-radius: 50%;
}

@keyframes animate
{
    0% {
        transform:  rotate(45deg) scale(1);
    }
    25% {
        transform:  rotate(45deg) scale(1.6);
    }
    50% {
        transform:  rotate(45deg) scale(1.3);
    }
    100% {
        transform:  rotate(45deg) scale(1);
    }
}